/*addindex.scss開始*/
body{
  
  @media screen and (min-width: 40em) {
    body {
      font-size: 1.25em;
    }
  }
}
  
  .form .button, .form .message, .customSelect, .form .select, .form .textarea, .form .text-input, .form .checkbox-input + label, .form .label {
    /*選項外框*/
    padding: 0.75em 1em;
    outline: none;
    line-height: normal;
    border-radius: 0;
    border: none;
    background: none;
    display: block;
  }
  
  .form{
    z-index: 0;
    max-width: 40em;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    .label{
      /*標題字型顏色及大小*/
        font-weight: bold;
        color: #222222;
        padding-top: 0;
        padding-left: 0;
        letter-spacing: 0.025em;
        font-size: 1.125em;
        line-height: 1.25;
        position: relative;
        z-index: 100;
    }
    .checkbox-input {
      /*將勾選的地方移除*/
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .checkbox-input + label {
      /*設置點擊前的外觀*/
        display: inline-block;
        width: auto;
        color: gray;
        position: relative;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        cursor: pointer;
    }

    .checkbox-input:checked + label {
        background-color: #f05f5c;
        color:white;
    }
    .button {
        /*紅色按鈕*/
        font: inherit;
        line-height: normal;
        cursor: pointer;
        background: #E8474C;
        color: white;
        font-weight: bold;
        width: auto;
        margin-left: auto;
        font-weight: bold;
        padding-left: 2em;
        padding-right: 2em;
    }
  }
  
  
  .customSelect, .form .select, .form .textarea, .form .text-input, .form .checkbox-input + label {
    font: inherit;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
    background: white;
    color: black;
    position: relative;
  }/*選項字形顏色*/
  
  .form .field {
    width: 100%;
    margin: 0 0 1.5em 0;
  }
  @media screen and (min-width: 40em) {
    .form .field.half {
      width: calc(50% - 1px);
    }
  }
  .form .field.last {
    margin-left: auto;
  }
  .form .textarea {
    max-width: 100%;
  }
  

  .form .checkboxes {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
  }
  .form .checkbox{
    float: left;
    margin: 1px;
  }

  .form .filedhalfrequired{
    font-weight: bold;
    color: white;
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.025em;
    font-size: 1.125em;
    line-height: 1.25;
    position: relative;
    z-index: 100;
   
  } /*addindex.scss結束*/
 
  
  