/*帳戶資料memberInfo.scss開始*/
.member-img{
    display: block;
}
.memberInfo-content{
    width: 500px;
    margin: 0 auto;
    .title{
        font-size: 24px;
        margin-top: 8px;
    }
    .context{
        margin-top: 20px;
        color: black;
    }
    
}
/*帳戶資料memberInfo.scss結束*/