/*註冊register.scss開始*/
.register_form{
    width: 400px;
    border-radius: 8px;
    padding: 100px 40px 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    margin-bottom: 100px;
}
.register-btn{
    width: 100%;
}
/*註冊register.scss結束*/
